@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
h5{
   text-shadow:
       1.5px 1.5px 0 #000,
     -1.5px -1.5px 0 #000,  
      1.5px -1.5px 0 #000,
      -1.5px 1.5px 0 #000,
       1.5px 1.5px 0 #000;
      }

.image-gallery-slide img {
    width: 100%;
    height: 45vh;
}

button.image-gallery-left-nav:focus, button.image-gallery-right-nav:focus {
    outline: none;
    background-color: transparent;
}

@layer base {
  body {
    @apply bg-gray-100 text-[#1f2937] tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
  

  li {
    @apply cursor-pointer;
  }

  /* button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-blue-300 to-blue-800 text-white
  } */

  p {
    @apply text-black;
  }

  .textLink {
  @apply text-red-700;
  }
}
